.teacher-name h1 {
	font-size: 27px;
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
}

.edit-elements {
	gap: 30px;
	margin-top: 25px;
	padding-bottom: 10px;
}

.edit-elements h2 {
	font-size: 16px;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	color: var(--grey-color);
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}

.edit-elements h2:hover {
	color: black;
}
