.menu-section {
	height: 100vh;
	background-color: #3d51e3;
	position: fixed;
	left: 0;
	padding: 20px 0px 20px 35px;
}

.logo {
	width: 260px;
	gap: 10px;
}

.logo img {
	width: 70px;
}

.logo h2 {
	font-size: 28px;
	color: #fff;
	font-family: Poppins;
	font-weight: 700;
}

.logo {
	margin-bottom: 50px;
}

ul {
	display: flex;
	flex-direction: column;
	gap: 45px;
}

a {
	display: flex;
	align-items: center;
	gap: 20px;
}

a .nav-icon {
	height: 37px;
	width: 37px;
	color: #c1bbeb;
}

a h2 {
	font-size: 18px;
	color: #c1bbeb;
	font-family: Poppins;
	font-weight: 400;
}
