.menu-section {
	width: 240px;
	background-color: var(--primary-color);
	position: fixed;
	top: 1vh;
	bottom: 1vh;
	left: 1vh;
	padding: 20px 0px 20px 10px;
	overflow-y: scroll;
	overflow-x: hidden;
	border-radius: 14px;
	transition: width 0.4s ease-in-out, background-color 0.3s ease-in-out;
}

/* Scroll yashirish */
.menu-section::-webkit-scrollbar {
	display: none;
}

/* Logo */
.logo {
	width: 220px;
	text-align: center;
	margin: 0 auto 40px auto;
	transition: all 0.3s ease;
}

.logo img {
	width: 50%;
	cursor: pointer;
	transition: transform 0.3s ease-in-out;
}

.logo img:hover {
	animation: logoanim 0.4s ease-in-out;
}

@keyframes logoanim {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(1);
	}
}

.logo h2 {
	font-size: 28px;
	color: var(--white-color);
	font-family: Poppins, sans-serif;
	font-weight: 700;
}

/* Navigatsiya */
nav {
	padding-top: 10px;
}

ul {
	display: flex;
	flex-direction: column;
	gap: 15px;
	background-color: var(--primary-color);
}

/* Linklar */
a {
	display: flex;
	align-items: center;
	padding: 15px;
	gap: 15px;
	transition: all 0.3s ease-in-out;
	border-top-left-radius: 12px;
	border-bottom-left-radius: 12px;
	background-color: var(--primary-color);
	text-decoration: none;
}

a .nav-icon {
	color: var(--white-color);
	font-size: 35px;
	transition: color 0.3s ease-in-out;
}

a h2 {
	font-size: 18px;
	color: var(--white-color);
	font-family: Poppins, sans-serif;
	font-weight: 400;
	opacity: 1;
	max-width: 200px; /* sidebar kengligiga mos */
	transition: opacity 0.3s ease, max-width 0.3s ease;
}

/* Active link */
.isActive {
	background-color: var(--white-color);
	color: var(--primary-color);
}

.isActive .nav-icon {
	color: var(--primary-color);
}

.isActive h2 {
	color: var(--primary-color);
}

/* Sidebar close tugmasi */
.close-side-bar {
	position: absolute;
	bottom: 20px;
	left: 23px;
	font-size: 30px;
	color: var(--white-color);
	cursor: pointer;
}

/* 🔹 Collapsed holat */
.menu-section.collapsed {
	width: 80px;
}

/* Logo kichrayadi */
.menu-section.collapsed .logo {
	width: 130px;
}

/* Matn yashiriladi */
.menu-section.collapsed a h2,
.menu-section.collapsed .logo h2 {
	opacity: 0;
	max-width: 0;
	overflow: hidden;
	transition: opacity 0.3s ease, max-width 0.3s ease;
}

/* Faqat icon markazda qoladi */
.menu-section.collapsed a {
	justify-content: center;
	gap: 0;
	padding: 15px 0;
}
