:root {
	--sidebar-width: 240px;
	--sidebar-width-collapsed: 80px;
}

.header-section {
	height: 11vh;
	background-color: var(--primary-color);
	border-radius: 14px;
	margin: 1vh 1vh 0 0;
	/* flex: 0 0 auto; */
	padding: 0 20px;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	align-items: center;
	justify-content: space-between;
	transition: margin-left 0.3s ease, width 0.3s ease;

	/* margin-left: calc(var(--sidebar-width) + 20px);  */
}

.search {
	width: 250px;
	background-color: var(--white-color);
	height: 35px;
	border-radius: 10px;
	padding-right: 10px;
}

.search input {
	width: 100%;
	height: 100%;
	border-radius: 10px;
	outline: none;
	border: none;
	padding-left: 10px;
	background-color: transparent;
}

.header-icon {
	font-size: 24px;
	color: var(--white-color);
	cursor: pointer;
}

.search-icon {
	color: rgb(160, 162, 163);
}

.lngs {
	border: 1px solid var(--white-color);
	padding: 3px 5px;
	border-radius: 7px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.lngs h2 {
	color: var(--white-color);
	cursor: pointer;
	font-size: 18px;
}

.full-ekran button {
	border: 1px solid var(--white-color);
	padding: 5px 6px 3px 6px;
	border-radius: 7px;
	cursor: pointer;
	color: var(--white-color);
	display: flex;
	justify-content: center;
	align-items: center;
}

.right-elements {
	gap: 15px;
}

.clock {
	font-size: 27px;
}

.right-elements h4 {
	color: var(--white-color);
	cursor: pointer;
	font-family: Poppins;
	font-weight: 400;
}

.account-icon {
	color: var(--white-color);
	font-size: 24px;
	border: 50%;
	padding: 4px 6px 4px 6px;
	/* background-color: var(--black-color); */
	display: flex;
	justify-content: center;
	border-radius: 7px;
	cursor: pointer;
}

.plus-modal {
	position: fixed;
	background-color: var(--primary-color);
	/* border: 1px solid var(--white-color); */
	padding: 20px 0;

	z-index: 9999;
	flex-direction: column;
	left: 265px;
	border-radius: 4px;
	display: flex;
	transition: all 0.3s ease-in-out;
}

.header-modals {
	box-shadow: 0px 3px 21px 3px rgba(34, 60, 80, 0.5);
	top: 12.2vh;
}

.header-modals.showModal {
	display: flex !important;
	animation: showModal 0.5s ease-in-out;
}

.header-modals.hideModal {
	animation: hideModal 0.3s ease-in-out forwards;
	overflow: hidden;
}

.plus-modal::before {
	content: '';
	position: absolute;
	top: -10px;
	left: 20px;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #ddd;
}

.plus-modal::after {
	content: '';
	position: absolute;
	top: -9px;
	left: 21px;
	border-left: 9px solid transparent;
	border-right: 9px solid transparent;
	border-bottom: 9px solid var(--primary-color);
}

.plus-modal.collapsed {
	left: 105px;
}

.header-modals h2 {
	color: var(--white-color);
	font-size: 22px;
	gap: 10px;
	cursor: pointer;
	transition: all 0.2s ease;
	padding: 15px 15px;
	display: flex;
	align-items: center;
}

.header-modals h2:hover {
	background-color: var(--white-color);
	color: var(--primary-color);
}

.header-modals h2 span {
	font-size: 18px;
}

/* .showModal {
	display: flex !important;
} */

@keyframes showModal {
	from {
		max-height: 0;
		opacity: 0;
	}
	to {
		max-height: 500px;
		opacity: 1;
	}
}

@keyframes hideModal {
	from {
		max-height: 500px;
		opacity: 1;
	}
	to {
		max-height: 0;
		opacity: 0;
	}
}

.account-modal {
	position: fixed;
	background-color: var(--primary-color);
	/* border: 1px solid var(--white-color); */
	padding: 20px 0;
	/* top: 12vh; */
	z-index: 9999;
	flex-direction: column;
	/* left: 265px; */
	border-radius: 4px;
	display: flex;
	transition: all 0.3s ease-in-out;
	right: 7px;
	gap: 10px;
}

.account-modal::before {
	content: '';
	position: absolute;
	top: -10px;
	left: 127px;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #ddd; /* border rangi */
}

.account-modal::after {
	content: '';
	position: absolute;
	top: -9px;
	left: 128px;
	border-left: 9px solid transparent;
	border-right: 9px solid transparent;
	border-bottom: 9px solid var(--primary-color);
}

.account-modal hr {
	color: #ddd;
	height: 0.1px;
}
