.header-section {
	height: 11vh;
	width: 79.5%;
	background-color: #3d51e3;
	left: 20%;
	top: 1vh;
	border-radius: 14px;
	position: fixed;
	z-index: 999;
	padding: 0 40px;
	box-sizing: border-box;
	justify-content: space-between;
}

.search {
	width: 250px;
	background-color: aliceblue;
	height: 35px;
	border-radius: 10px;
	padding-right: 10px;
}

.search input {
	width: 100%;
	height: 100%;
	border-radius: 10px;
	outline: none;
	border: none;
	padding-left: 10px;
	background-color: transparent;
}

.header-icon {
	font-size: 24px;
	color: #fff;
	cursor: pointer;
}

.search-icon {
	color: rgb(160, 162, 163);
}

.lngs {
	border: 1px solid var(--grey-color);
	padding: 4px 5px;
	border-radius: 7px;
}

.lngs h2 {
	color: var(--grey-color);
	cursor: pointer;
	font-size: 18px;
}

.full-ekran button {
	border: 1px solid var(--grey-color);
	padding: 5px 6px 3px 6px;
	border-radius: 7px;
	cursor: pointer;
	color: var(--grey-color);
}
