@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
	margin: 0;
	padding: 0;
}

body {
	background-color: var(--white-color);
	position: relative;
	overflow: hidden;
}

:root {
	--primary-color: #5072a7;
	--white-color: #fff;
	--black-color: #000;
	--background-color: rgb(224, 231, 238);
	--grey-color: rgb(160, 162, 163);
}

/* .container {
	max-width: 100%;
	margin: 0 auto;
	display: flex;
	padding: 0 40px;
} */

.container {
	display: flex;
	gap: 5px;
	height: 100vh;
}

.display-flex {
	display: flex;
	align-items: center;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

.right {
	flex: 1;
	display: flex;
	flex-direction: column;
}

.page {
	flex: 1;
	/* padding: 10px; */
	background-color: var(--white-color);
	border-radius: 14px;
	overflow-y: auto;
}

/* Sahifalar uchun */
.home-page {
	position: absolute;
	/* height: 85vh; */
	padding: 20px;
	/* margin-top: 10px; */
	bottom: 1vh;
	top: 13vh;
	left: 266px;
	right: 10px;
	/* width: calc(99vw - 260px);	 */
	background-color: var(--white-color);
	border: 1px solid var(--primary-color);
	border-radius: 14px;
	transition: all 0.3s ease-out !important;
	overflow-y: scroll;
	scrollbar-width: none;
	box-sizing: border-box;
}

.home-page.expanded {
	left: 105px; /* sidebar yopiq holati */
	width: calc(99vw - 100px);
}

/* AOS sakrash muammosini bartaraf etish */
[data-aos].aos-animate {
	transform: none !important;
}
