.home-page {
	position: absolute;
	/* height: 85vh; */
	padding: 20px;
	/* margin-top: 10px; */
	/* left: 260px; */
	width: calc(99vw - 260px);
	background-color: var(--white-color);
	border: 1px solid var(--primary-color);
	border-radius: 14px;
	transition: all 0.3s ease-out !important;
	overflow-y: scroll;
	scrollbar-width: none;
	box-sizing: border-box;
}

.home-page.expanded {
	left: 105px; /* sidebar yopiq holati */
	width: calc(99vw - 100px);
}

/* AOS sakrash muammosini bartaraf etish */
[data-aos].aos-animate {
	transform: none !important;
}

.element-card-bar {
	display: flex;
	justify-content: center; /* markazga joylash */
	align-items: center;
	gap: 10px;
}

.dashboard-element-card {
	width: 85%;
	height: 130px;
	padding: 10px;
	border-radius: 14px;
	/* background-color: var(--white-color); */
	/* background-color: #d4d2d2; */
	box-shadow: 0px 3px 21px 3px rgba(34, 60, 80, 0.18);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	color: var(--primary-color);
	text-align: center;
	transition: all 0.3s ease;
	gap: -5px;
	/* border: 2px solid var(--primary-color); */
}
.dashboard-element-card:hover {
	transform: scale(1.02);
}

.dashboard-element-card:only-child i {
	font-size: 32px;
}

.dashboard-element-card:only-child h1 {
	font-size: 25px;
}

.dashboard-element-card:only-child p {
	font-size: 16px;
	gap: 10px;
	font-family: Poppins;
	margin-bottom: 0px;
}

.dashboard-element-card:only-child h2 {
	font-size: 20px;
	font-family: Poppins;
	font-weight: 400;
}

.swiper-button-prev,
.swiper-button-next {
	color: black;
}

.swiper-button-prev {
	left: 5px; /* chapdan 15px */
}

.swiper-button-next {
	right: 5px; /* o‘ngdan 15px */
}

/* jadval */
.table {
	/* width: 78.05vw; */
	padding: 20px;
	box-shadow: 0px 3px 21px 3px rgba(34, 60, 80, 0.3);
	margin-top: 50px;
	border-radius: 14px;
}

.table-prev {
	display: flex;
	gap: 36%;
}

.table-btn {
	padding: 10px 15px;
	border: none;
	border-radius: 14px;
	background-color: var(--primary-color);
	color: var(--white-color);
	cursor: pointer;
	font-family: Poppins;
	transition: 0.3s ease-in-out;
}
.table-btn:hover {
	background-color: var(--primary-color);
}
.table-prev h3 {
	font-family: Poppins;
	font-weight: 400;
	font-size: 18px;
}
